<!DOCTYPE html>
<html ng-app="kaifanla">
<head lang="en">
    <meta charset="UTF-8">
    <title>开饭啦</title>
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/src/css/kaifanla.css"/>
</head>
<body ng-controller="parentCtr">
{% block content %}

{% endblock %}
</body>
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/bower_components/bower-angularjs/angular.min.js"></script>
<script src="/static/src/js/kaifanla.js"></script>
</html>

